@if (isAuthenticated$ | async) {
  <div class="col-md-12" >
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Timestamp</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (dataEventRecord of DataEventRecords; track dataEventRecord) {
              <tr style="height:20px;" >
                <td>
                  @if (hasAdminRole) {
                    <a href="" [routerLink]="['/dataeventrecords/edit/' + dataEventRecord.id]" >{{dataEventRecord.name}}</a>
                  }
                  @if (!hasAdminRole) {
                    <span>{{dataEventRecord.name}}</span>
                  }
                </td>
                <td>{{dataEventRecord.timestamp}}</td>
                <td><button class="btn btn-primary" (click)="Delete(dataEventRecord.id)">Delete</button></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}
